.produtos {

    h1 {
        padding: 20px 10px;
        font-size: 30px;
    }

    .produtos-container {


        .produtos-itens {
            color: $cinza;
            
            h2 {
                font-size: 19px;
            }
        }

        .produtos-preco {
            font-size: 16px;
        }
    }
}